<div *ngIf="!pais; else divPais" class="alert alert-info">
  Espere por favor...
</div>

<ng-template #divPais>
  <div class="row">
    <div class="col-12">
      <h1>
        Pais: <small>{{ pais.name.common }}</small>
      </h1>
    </div>
    <div class="row">
      <div class="col-4">
        <h3>Bandera</h3>
        <img class="img-thumbnail" [src]="pais.flags.svg" />
      </div>
      <div class="col">
        <h3>Información</h3>
        <ul class="list-group">
          <li class="list-group-item">
            <strong>Población</strong> {{ pais.population | number }}
          </li>
          <li class="list-group-item">
            <strong>Capital</strong> {{ pais.capital }}
          </li>
          <li class="list-group-item">
            <strong>Codigo CCA2</strong> {{ pais.cca2 }}
          </li>
        </ul>
      </div>
    </div>
  </div>

  <h3>Traducciones</h3>
  <div class="row">
    <div class="col">
      <span class="badge bg-primary mr-1">{{
        pais.translations.spa.common
      }}</span>
      <span class="badge bg-primary mr-1">{{
        pais.translations.fra.common
      }}</span>
      <span class="badge bg-primary mr-1">{{
        pais.translations.ita.common
      }}</span>
      <span class="badge bg-primary mr-1">{{
        pais.translations.ces.common
      }}</span>
    </div>
  </div>
</ng-template>
